.bottomHeader {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottomHeader ul {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.bottomHeader ul li a {
    margin-right: 20px;
    font-size: large;
    color: #42a5ff;
    text-decoration: none;
    margin-top: 25px;
    text-decoration: none;
}
@media screen and (min-width: 350px) {
    .bottomHeader {
        display: none;
        visibility: hidden;
    }
        .bottomHeader ul {
            display: none;
            visibility: hidden;
        }
    .bottomHeader ul li a {
        display: none;
        visibility: hidden;
    }
    }
    @media screen and (min-width: 800px) {
        .bottomHeader {
            height: 35px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
        }

            .bottomHeader ul {
                display: flex;
                flex-direction: row;
                margin-top: 25px;
            }

                .bottomHeader ul li a {
                    margin-right: 20px;
                    font-size: large;
                    color: #42a5ff;
                    text-decoration: none;
                    margin-top: 25px;
                    text-decoration: none;
                    border: 2px solid red;
                }
    }