@model AtomHealth.Models.Atom

@{
    ViewData["Title"] = "CreateForUserWhoNeedHelp";
}

<h1>Hello New User! Please fill up the form below to Signup.</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateForUserWhoNeedHelpPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
           First Name
            <input asp-for="firstname" class="form-control" />
            <span asp-validation-for="firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            Middle Name
            <input asp-for="middlename" class="form-control" />
            <span asp-validation-for="middlename" class="text-danger"></span>
        </div>
        <div class="form-group">
           Last Name
            <input asp-for="lastname" class="form-control" />
            <span asp-validation-for="lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
           Healthcare ID
            <input asp-for="healthid" class="form-control" />
            <span asp-validation-for="healthid" class="text-danger"></span>
        </div>
        <div class="form-group">
           Date of Birth
            <input asp-for="dob" class="form-control" />
            <span asp-validation-for="dob" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                Email
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            @*<div class="form-group">
           Username
            <input asp-for="username" class="form-control" />
            <span asp-validation-for="username" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                Password
                <input asp-for="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                Phone
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <p style="color:red; font-weight:bold">@ViewBag.checkyouremail</p>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
